$font-1: 'Source Sans', sans-serif;
$prime: #ff793b;
$dark: #49423f;
$grey: #a39d99;
$break-med: 768px;
$break-small: 400px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: $font-1;
  color: $dark;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.contact-link {
  color: $prime;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  height: 100%;
  min-height: 100%;
}

.page {
  min-height:100vh;
  position:relative;
  padding-bottom: 195px;
}