.gallery-container {
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
  @media only screen and (max-width: $break-small) {
    width: 90%;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1rem;
}

.gallery-item {
  height: 8rem;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.356);
  overflow: hidden;
  transition: transform 100ms ease-out;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 700ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}