@import '_base.scss';
@import '_nav.scss';
@import '_gallery.scss';
@import '_footer.scss';

.btn {
  width: 180px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  display: block;
  border: 1px solid $prime;
  background: $prime;
  color: white;
  padding: 10px 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
}

.content {
  margin-bottom: 50px;
  padding: 10px;
}

.content-p {
  margin-bottom: 1em;
}

.content-heading {
  margin-bottom: 1em;
  font-weight: 400;

}

.content-subheading {
  margin-bottom: .5em;
  font-weight: 400;
  color: $prime;
}

.content-grid {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.risk-grid {
  display: grid;
  grid-gap: 1em;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  @media only screen and (max-width: $break-med){
    grid-template-columns: 1fr;
  }
}

.grid-heading {
  text-align: center;
}

.content-list {
  list-style: none;
  line-height: 1.4em;  
  columns: 2;
}

.questions-list {
  list-style: none;
  line-height: 1.4em;
}

.content-list, .questions-list {
  li {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
    p {
      font-weight: 400;
    }
  }
  li::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 1px;
    background: $prime;
    left: -20px;
    top: 10px;
  }
}

.contact-info {
  text-align: center;
  line-height: 2em;
  font-weight: 600;
}