<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <title>About - Complete Security Australia</title>
</head>

<body>
  <div class="page">
    <nav class="nav">
      <div class="container nav-container">
        <div class="nav-left">
          <h1 class="nav-logo"><span>C</span>omplete <span>S</span>ecurity <span>A</span>ustralia</h1>
        </div>
        <div class="nav-right">
          <a href="../index.html" class="nav-link">Home</a>
          <a href="about.html" class="nav-link active">About Us</a>
          <a href="services.html" class="nav-link">Services</a>
          <a href="clients.html" class="nav-link">Clients</a>
          <a href="contact.html" class="nav-btn nav-link">Contact</a>
        </div>
      </div>
    </nav>
    <main>
      <div class="header-container">
        <div class="header-img header-img-about"></div>
      </div>
      <div class="container">
        <div class="content">
          <h1 class="content-heading">About Us</h1>
          <p class="content-p">Complete Security is recognized as one of the best privately owned and locally operated
            security guard services provider in Queensland. Our company mission focus is to secure businesses, people,
            homes, property, events and sensitive information by providing highly qualified security guards, personnel
            and experienced management staff at the most affordable prices. </p>
        </div>
        <div class="content">
          <h1 class="content-heading">Our Team</h1>
          <p class="content-p">Complete Security Australia has a large team of experienced professional Security
            Officers and Guards who are trained in strategies and protocols that are pertinent to security relating to
            Event Security, Crowd Control, Traffic Control, Concierge Servicing, Shopping Centres, Mobile Patrolling
            and Body Guarding.

            All our security guards hold current OH&S White Card and First Aid Certificates and are trained in the use
            of hand-held metal detection procedures in a security screening environment. The guards understand that
            every project is different and each job must be considered as individual.

            Professional officers and Skillful Guards from the Get Go, that’s our practice. Our guards and officers are
            recruited and trained against a carefully designed range of core competencies. Each undergoes a
            comprehensive selection process, which may include police checks, literacy and numeracy testing, reference
            checking and probity clearance.

            At Complete Security Australia, we pride ourselves in offering our clients an unparalleled standard of
            service and with a deep understanding of the modern threat landscape, you can rely on our security officers
            and guards to better protect your people and assets.

            We understand that continued investment in ongoing training and education helps to support our operations.
            We place strong focus on the training and development of our people, providing them with the tools they
            need to help our clients accomplish their goals.</p>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-content">
        <div class="container footer-content-container">
          <div class="footer-section">
            <h3 class="footer-heading">Pages</h3>
            <a href="about.html" class="footer-link">About Us</a>
            <a href="services.html" class="footer-link">Services</a>
            <a href="clients.html" class="footer-link">Clients</a>
            <a href="contact.html" class="footer-link">Contact</a>
          </div>
          <div class="footer-section">
            <h3 class="footer-heading">Contact</h3>
            <p class="footer-p">PO Box 111</p>
            <p class="footer-p">Waterford QLD 4133</p>
            <p class="footer-p">Phone: <a class="contact-link" href="tel:0416 889 588">0416 889 588</a> </p>
            <p class="footer-p">Email: <a class="contact-link" href="mailto:info@completesecurity.org">info@completesecurity.org</a></p>
          </div>
        </div>
      </div>
      <div class="footer-bar">
        <div class="container footer-bar-container">
          <p class="footer-bar-text">&copy Complete Security Australia 2019</p>
        </div>
      </div>
    </footer>
  </div>

</body>

</html>