<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Clients - Complete Security Australia</title>
</head>

<body>
  <div class="page">
    <nav class="nav">
      <div class="container nav-container">
        <div class="nav-left">
          <h2 class="nav-logo"><span>C</span>omplete <span>S</span>ecurity <span>A</span>ustralia</h2>
        </div>
        <div class="nav-right">
          <a href="../index.html" class="nav-link">Home</a>
          <a href="about.html" class="nav-link">About Us</a>
          <a href="services.html" class="nav-link">Services</a>
          <a href="clients.html" class="nav-link active">Clients</a>
          <a href="contact.html" class="nav-btn nav-link">Contact</a>
        </div>
      </div>
    </nav>
    <main>
      <div class="header-container">
        <div class="header-img header-img-clients"></div>
      </div>
      <div class="container">
        <div class="gallery-container">
          <h1 class="content-heading">Clients and Events</h1>
          <div class="gallery">

            <div class="gallery-item">
              <img class="gallery-image" src="../img/Bon Jovi.jpg" alt="Bon Jovi 2018 Concert">
            </div>

            <div class="gallery-item">
              <img class="gallery-image" src="../img/Brisbane Roar.jpg" alt="Brisbane Roar">
            </div>

            <div class="gallery-item">
              <img class="gallery-image" src="../img/Earth Frequency.jpg" alt="Earth Frequency 2019 Festival">
            </div>

            <div class="gallery-item">
              <img class="gallery-image" src="../img/Eminem 1.jpg" alt="Eminem Rapture 2019 Concert">
            </div>

            <div class="gallery-item">
              <img class="gallery-image" src="../img/Paul McCartney.jpg" alt="Paul McCartney Concert">
            </div>

            <div class="gallery-item">
              <img class="gallery-image" src="../img/Phil Collins Brisbane.jpg" alt="Phil Collins">
            </div>

            <div class="gallery-item">
              <img class="gallery-image" src="../img/State of Origin 1.jpg" alt="State of Origin">
            </div>

            <div class="gallery-item">
              <img class="gallery-image" src="../img/Usher 5.jpg" alt="Usher Concert">
            </div>

          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-content">
        <div class="container footer-content-container">
          <div class="footer-section">
            <h3 class="footer-heading">Pages</h3>
            <a href="about.html" class="footer-link">About Us</a>
            <a href="services.html" class="footer-link">Services</a>
            <a href="clients.html" class="footer-link">Clients</a>
            <a href="contact.html" class="footer-link">Contact</a>
          </div>
          <div class="footer-section">
            <h3 class="footer-heading">Contact</h3>
            <p class="footer-p">PO Box 111</p>
            <p class="footer-p">Waterford QLD 4133</p>
            <p class="footer-p">Phone: <a class="contact-link" href="tel:0416 889 588">0416 889 588</a> </p>
            <p class="footer-p">Email: <a class="contact-link" href="mailto:info@completesecurity.org">info@completesecurity.org</a></p>
          </div>
        </div>
      </div>
      <div class="footer-bar">
        <div class="container footer-bar-container">
          <p class="footer-bar-text">&copy Complete Security Australia 2019</p>
        </div>
      </div>
    </footer>
  </div>

</body>

</html>