<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Services - Complete Security Australia</title>
</head>

<body>
  <div class="page">
    <nav class="nav">
      <div class="container nav-container">
        <div class="nav-left">
          <h1 class="nav-logo"><span>C</span>omplete <span>S</span>ecurity <span>A</span>ustralia</h1>
        </div>
        <div class="nav-right">
          <a href="../index.html" class="nav-link">Home</a>
          <a href="about.html" class="nav-link">About Us</a>
          <a href="services.html" class="nav-link">Services</a>
          <a href="clients.html" class="nav-link">Clients</a>
          <a href="#" class="nav-btn nav-link active">Contact</a>
        </div>
      </div>
    </nav>

    <main>

      <div class="header-container">
        <div class="header-img header-img-contact"></div>
      </div>

      <div class="container">
        <div class="content">
          <div class="contact-info">
            <h1 class="content-heading">We are here to help 24/7</h1>
            <h3 class="content-heading">Send us a message with any questions and we'll get back to you with answers as
              soon as we can.</h3>
              <p class="content-p">email: <a class="contact-link" href="mailto:info@completesecurity.org">info@completesecurity.org</a></p>
            <p class="content-p">24 Hour Contact: <a class="contact-link" href="tel:0416 889 588">0416 889 588</a></p>
            <p class="content-p">Edens Landing Queensland 4207<br>
            Waterford Queensland 4133</p>
            
          </div>
        </div>
      </div>

      <div class="container">
        <div class="content">
          <h1 class="content-heading">Frequently Asked Questions</h1>
          <ul class="questions-list">
            <li>
                Do you have any Security Officer or Guard positions available?
              <p>Yes we are always looking for guards on a regular basis - contact Kylie Lowery on 0416 88 95 88 or email us at <a href="mailto:info@completesecurity.org">info@completesecurity.org</a></p>
            </li>
            <li> I don't have a security licence but I'm interested in working as a Security Officer.  How do I do this?
              <p>We can definitely assist you with obtaining your security licence through our training partners.  Normally the course can cost as much as $2000 but you may be eligible for government subsidy funding which will make obtaining your licence as little as $14.  Please contact us on  0416 88 95 88  for further information.</p>
            </li>
            <li>What States in Australia do you provide your security services?
              <p>We are currently only operating in Queensland.</p>
            </li>
            <li>What Industry memberships does your company hold?
              <p>NSAA - National Security Association Australia</p>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer-content">
        <div class="container footer-content-container">
          <div class="footer-section">
            <h3 class="footer-heading">Pages</h3>
            <a href="about.html" class="footer-link">About Us</a>
            <a href="services.html" class="footer-link">Services</a>
            <a href="clients.html" class="footer-link">Clients</a>
            <a href="contact.html" class="footer-link">Contact</a>
          </div>
          <div class="footer-section">
            <h3 class="footer-heading">Contact</h3>
            <p class="footer-p">PO Box 111</p>
            <p class="footer-p">Waterford QLD 4133</p>
            <p class="footer-p">Phone: <a class="contact-link" href="tel:0416 889 588">0416 889 588</a> </p>
            <p class="footer-p">Email: <a class="contact-link" href="mailto:info@completesecurity.org">info@completesecurity.org</a></p>
          </div>
        </div>
      </div>
      <div class="footer-bar">
        <div class="container footer-bar-container">
          <p class="footer-bar-text">&copy Complete Security Australia 2019</p>
        </div>
      </div>
    </footer>
  </div>

  </div>





</body>

</html>