<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Services - Complete Security Australia</title>
</head>

<body>
  <div class="page">
    <nav class="nav">
      <div class="container nav-container">
        <div class="nav-left">
          <h2 class="nav-logo"><span>C</span>omplete <span>S</span>ecurity <span>A</span>ustralia</h2>
        </div>
        <div class="nav-right">
          <a href="../index.html" class="nav-link">Home</a>
          <a href="about.html" class="nav-link">About Us</a>
          <a href="#" class="nav-link active">Services</a>
          <a href="clients.html" class="nav-link">Clients</a>
          <a href="contact.html" class="nav-btn nav-link">Contact</a>
        </div>
      </div>
    </nav>

    <main>

      <div class="header-container">
        <div class="header-img header-img-services"></div>
      </div>

      <div class="container">
        <div class="content">
          <h1 class="content-heading">Services</h1>
          <p class="content-heading">Complete Security provides expert services across the following market sectors:</p>
          <ul class="content-list">
            <li>Risk Assessment</li>
            <li>Static Guarding</li>
            <li>Specialised Body Guarding</li>
            <li>CCTV Monitoring</li>
            <li>Concierge Services</li>
            <li>Small &amp; Major Events</li>
            <li>Roving &amp; Mobile Patrols</li>
            <li>Shopping Centres</li>
            <li>Gate Keeping</li>
            <li>Construction Site Security</li>
            <li>Crowd Control Security</li>
            <li>Traffic Control</li>
          </ul>
        </div>
      </div>

      <div class="container">
        <h2 class="content-heading grid-heading">Security Taken Seriously</h2>
        <div class="content-grid">
          <div class="content">
            <h3 class="content-subheading">What are your security requirements?</h3>
            <p class="content-p">Before selecting a security guard firm, you need to decide on the type of security
              service required and the roles you need security guards to perform. This will depend on the nature of
              your business. Hotels, special events, personal protection, educational facilities and office buildings
              all have different security needs. A small retail business may only need a security monitoring service
              with back-up patrol, while a hotel or club is likely to require a 24 hour security presence on site.</p>
            <p class="content-p"> Once you have determined the type of security service needed, the next step is to
              decide on the level of protection required. Plain clothed and unarmed security guards are best if you own
              a retail store and the objective is to catch shoplifters. Uniformed guards are a better choice as a
              deterrent, while armed guards may be necessary when protecting valuable inventory or cash in transit.
              Security guards with higher levels of training will be able to perform the higher level security
              requirements.</p>
          </div>
          <div class="content">
            <h3 class="content-subheading">Comparing Security Services</h3>
            <p class="content-p">With an initial understanding of your security needs, the next step is to interview
              three or four security firms in order to compare services and costs. Make sure that the security firms
              hold valid licenses. In all States and Territories, private security firms are required to be licensed in
              order to offer security services. Also, make sure the firms have an adequate level of insurance for the
              services being provided. Ask for certificates of currency for policies such as Public Liability and
              Workers Compensation.</p>
            <p class="content-p"> It is also a good idea to interview the individual security guards to ensure an
              appropriate match for your business. You will have confirmed each guard’s training and qualifications
              prior to interview with the security firm, so the task now is to review personality and appearance. For
              example, if you require a plain clothed security guard for your retail store, then you need someone who
              looks like a typical customer in your store. If you need a security guard for your office building or
              hotel, the preference will be for someone with a corporate appearance and professional approach. If the
              security guard has to interact with people at a sporting venue or social event, you will want someone
              that is helpful and friendly. The key is to select security guards whose appearance and personality most
              closely align to your business requirements.</p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer-content">
        <div class="container footer-content-container">
          <div class="footer-section">
            <h3 class="footer-heading">Pages</h3>
            <a href="about.html" class="footer-link">About Us</a>
            <a href="services.html" class="footer-link">Services</a>
            <a href="clients.html" class="footer-link">Clients</a>
            <a href="contact.html" class="footer-link">Contact</a>
          </div>
          <div class="footer-section">
            <h3 class="footer-heading">Contact</h3>
            <p class="footer-p">PO Box 111</p>
            <p class="footer-p">Waterford QLD 4133</p>
            <p class="footer-p">Phone: <a class="contact-link" href="tel:0416 889 588">0416 889 588</a> </p>
            <p class="footer-p">Email: <a class="contact-link" href="mailto:info@completesecurity.org">info@completesecurity.org</a></p>
          </div>
        </div>
      </div>
      <div class="footer-bar">
        <div class="container footer-bar-container">
          <p class="footer-bar-text">&copy Complete Security Australia 2019</p>
        </div>
      </div>
    </footer>
  </div>
  </div>
</body>

</html>